<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>assets</string>
		<string>generators</string>
	</array>
	<key>createMarkedFile</key>
	<true/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>core_data_migrations.md</string>
		</array>
		<array>
			<string>developer_operations.md</string>
		</array>
		<array>
			<string>generate.rb</string>
		</array>
		<array>
			<string>getting_setup.md</string>
		</array>
		<array>
			<string>how_can_i_be_pragmatic.md</string>
		</array>
		<array>
			<string>how_i_got_started.md</string>
		</array>
		<array>
			<string>introducing_tests_into_an_existing_app.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>- Tooling_for_different_types_of_testing.md</string>
		</array>
		<array>
			<string>Techniques_for_avoiding_Async_Testing.md</string>
		</array>
		<array>
			<string>recommended_websites.md</string>
		</array>
		<array>
			<string>stubbed_core_data.md</string>
		</array>
		<array>
			<string>types_of_testing.md</string>
		</array>
		<array>
			<string>useful_terminology.md</string>
		</array>
		<array>
			<string>what_and_why.md</string>
		</array>
		<array>
			<string>what_is_xctest.md</string>
		</array>
	</array>
	<key>userIconName</key>
	<string>Favs</string>
</dict>
</plist>
